@import url("https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap");

/* Common CSS starts */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "RocknRoll One", sans-serif;
}
html {
  line-height: 1.15;
}
body{
  background: linear-gradient(190deg, #867bcd, #6a5aab);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #222;
  overflow-x: hidden;
  animation: colorTransition 15s infinite  ease-in-out alternate;
  animation-timing-function: ease-in-out;
}
.standard_btn{
  background-color: #271c6c !important;
  border: 2px solid #e1ebfd !important;
  box-shadow: 2px 4px 10px #271c6c !important;
  color: #e1ebfd;
}
.standard_btn:hover,
.close_btn:hover{
  transform: scale(1.1) translateZ(0px);
}
.close_btn{
  background-color: transparent !important;
  color: #271c6c !important;
  border: 2px solid #271c6c !important;
}

/* Keyframe CSS starts */

@keyframes colorTransition {
  0%, 25%, 50%, 75%, 100% {
    background: linear-gradient(90deg, #867bcd, #6a5aab);
  }
  12.5%, 37.5%, 62.5%, 87.5% {
    background: linear-gradient(90deg, #6a5aab, #867bcd);
  }
}

/* Keyframe CSS ends */

/* Common CSS ends */